body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Align elements vertically */
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #333; /* Soft grey background for the entire page */
    font-family: 'Inter', sans-serif; /* Use Inter font */
}

.title-container {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 10px 20px;
    background-color: #333; /* Dark background for contrast */
    color: white; /* Title color */
    display: flex; /* Flex container for title and button */
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Space between title and button */
}

.title {
    margin: 0;
    font-size: 28px;
    font-weight: 600; /* Semibold font weight */
}

.back-button {
    padding: 10px 20px;
    background-color: #A3D69A; /* Same color as the city buttons */
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #88b682; /* Darker shade on hover */
}

.main-container {
    display: flex;
    height: 85vh; /* Reduced height to accommodate title */
    width: 100vw;
    position: static;
}

#map {
    width: 50%; /* Adjust map width */
    height: 100%;
}

.right-container {
    width: 50%; /* Adjusted width for the right side */
    height: 100vh;
    background-color: #333; /* Match background color with the title */
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    align-items: center;
    justify-content: flex-start; /* Align items at the top */
    padding: 5px;
    box-sizing: border-box; /* Include padding in the width */
}

.total-info {
    width: 100%;
    display: flex;
    justify-content: left; /* Align items to the left */
    flex-direction: row; /* Stack them horizontally */
    align-items: center; /* Center text */
    margin-bottom: 0px; /* Margin below to separate from the chart */
    margin-left: 100px;
}

.total-buildings, .average-year {
    font-size: 20px;
    font-weight: 600;
    color: #f8f8f8; /* Text color in light grey */
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px; /* Space between the two */
}

.chart-container {
    width: 95%;
    height: 65%; /* Adjusted height for the chart container */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Margin below to separate from the legend */
}

#buildingsChart {
    width: 60%;
    height: 100%;
}

.chart-legend {
    width: 100%;
    color: #f8f8f8;
    display: flex;
    flex-direction: row; /* Stack items horizontally */
    gap: 5px;
    text-align: left;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 8px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.legend-color {
    width: 10px;
    height: 20px;
    border-radius: 5px;
    display: inline-block;
}

.slider-container {
    position: absolute;
    bottom: 80px;
    left: 20px;
    padding: 10px;
    color: #f8f8f8; /* Text color in light grey */
    border-radius: 8px;
    z-index: 1200;
}

.city-selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust height to center buttons */
    flex-direction: column;
}

.city-button {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #A3D69A; /* Same color palette as the buildings */
    color: #fff;
    cursor: pointer;
}

.city-button:hover {
    background-color: #88b682; /* Darker shade on hover */
}

/* Mobile-specific styling */
@media (max-width: 768px) {
    .right-container, .total-info, .chart-container, .chart-legend { /* Hide all except map and sliders */
        display: none;
    }

    .main-container {
        flex-direction: column; /* Stack elements vertically */
        height: auto; /* Adjust height */
        width: 100%; /* Full width for mobile */
        margin: 0;
        padding: 0;
    }

    #map {
        width: 100%; /* Full width for mobile */
        height: calc(100vh - 80px); /* Adjust map height for mobile to fill screen */
    }

    .slider-container { /* Adjust slider container */
        bottom: 20px; /* Move slider up */
        left: 10px; /* Adjust left position */
        width: calc(100% - 20px); /* Full width with some margin */
        background-color: #333; /* Match background for better visibility */
        padding: 10px;
        border-radius: 8px;
    }
}
